<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.user">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NabtaStoreMH"
        android:windowSoftInputMode="adjustPan">
        <activity
            android:name="com.manager.repot_two.chart.RadarCharActivity"
            android:exported="false" />
        <activity
            android:name="com.manager.repot_two.chart.PieChartActivity"
            android:exported="false" />
        <activity
            android:name="com.manager.repot_two.chart.BarChartActivity"
            android:exported="false" />
        <activity
            android:name="com.manager.repot_one.annual.AnnualActivity"
            android:exported="false" />
        <activity
            android:name="com.manager.repot_two.ReportTwoActivity"
            android:exported="false" />
        <activity
            android:name="com.manager.repot_one.ReportOneActivity"
            android:exported="false" />
        <activity
            android:name="com.manager.main.ManagerActivity"
            android:exported="false"
            android:label="@string/title_activity_manager"
            android:theme="@style/Theme.NabtaStoreMH.NoActionBar" />
        <activity
            android:name="com.admin.AdminActivity"
            android:exported="false"
            android:label="@string/title_activity_admin"
            android:theme="@style/Theme.NabtaStoreMH.NoActionBar" />
        <activity
            android:name=".main.UserActivity"
            android:exported="false"
            android:label="@string/title_activity_user"
            android:theme="@style/Theme.NabtaStoreMH.NoActionBar" />
        <activity
            android:name=".account.sign.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".account.register.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".intro.navigation.slider.SliderActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".intro.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.admin.categories.CategoriesActivity"
            android:exported="true">
        </activity>

    </application>

</manifest>